<!-- *********************footer******************************* -->

<footer class="bg-dark mt-5">
	<div class="container py-5">
		<div class="row py-4">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<img src="{{ asset('assets/img/logo.png')}}" alt="" width="180" class="mb-3">
				<p class="font-italic text-white">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
				<ul class="list-inline mt-4 fs-4">
					<li class="list-inline-item">
						<a class="twitter" href="#" target="_blank" title="twitter">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="facebook" href="#" target="_blank" title="facebook">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="instagram" href="#" target="_blank" title="instagram">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="pinterest" href="#" target="_blank" title="pinterest">
							<i class="fab fa-pinterest"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="linkedin" href="#" target="_blank" title="linkedin+">
							<i class="fa-brands fa-linkedin-in"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
				<h6 class="text-uppercase font-weight-bold mb-4 txt-theme">Accès rapides</h6>
				<ul class="list-unstyled mb-0">
					<li class="mb-2">
						<a href="#" class="foot-links">Accueil</a>
					</li>
					<li class="mb-2">
						<a href="#" class="foot-links">Boutique</a>
					</li>
					<li class="mb-2">
						<a href="#" class="foot-links">A propos</a>
					</li>
					<li class="mb-2">
						<a href="{{ path('app_login') }}" class="foot-links">Se connecter</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
				<h6 class="text-uppercase font-weight-bold mb-4 txt-theme">Company</h6>
				<ul class="list-unstyled mb-0">
					<li class="mb-2">
						<a href="#" class="foot-links">Conditions d'utilisation</a>
					</li>
					<li class="mb-2">
						<a href="#" class="foot-links">Politique de confidentialité</a>
					</li>
					<li class="mb-2">
						<a href="#" class="foot-links">Mentions légales</a>
					</li>
					<li class="mb-2">
						<a href="#" class="foot-links">Nous contacter</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-6 mb-lg-0">
				<h6 class="text-uppercase txt-theme font-weight-bold mb-4">Newsletter</h6>
				<p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaquetemporibus.</p>
				<div class="p-1">
					<div class="input-group">
						<input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
						<div class="input-group-append border rounded-end">
							<button id="button-addon1" type="submit" class="btn btn-link">
								<i class="fa fa-paper-plane text-white"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyrights -->
	<div class="bg-dark py-4">
		<div class="container text-center">
			<p class="text-white mb-0 py-2 fs-6">Tous droits réservés&copy;Karl-Fashion, Compiègne, Soissons, Noyon, Oise | 2023
			</p>
		</div>
	</div>
</footer>
<!-- End -->
