@import "~bootstrap/scss/bootstrap";
@import "shared_scss/_variables";
@import "shared_scss/_navbar";
@import "shared_scss/_footer";
@import "shared_scss/_owlCarousel";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *** Root Colors,BackgroundColor & Button */
.txt-theme {

    color: var(--main);
}

.bg-theme {

    background-color: var(--main);
}

.btn-theme {

    background-color: var(--main);
    color: #212529;
}

.btn-theme:hover {

    background-color: var(--main-hover);
    color: #ffffff;
}

.txt-btn {

    color: var(--btn-color);
}

.btn-custom {

    background-color: var(--btn-color);
    color: #ffffff;
}

.btn-custom:hover {
    background-color: var(--btn-hover);
}

.bg-form {

    background-color: var(--bg-form) !important;
}

/*  Home / Trasition full width */
.cut {

    height: 400px;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt-cut {
    position: absolute;
    bottom: 6%;
    right: 10%;
}

/* Home / Meilleures ventes */
.img-best {

    transition: transform ease-in-out .4s;
}

.img-best:hover {

    transform: scale(1.1);
}
